<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
    <h1>Team Name: <%=@name%> </h1>
		<h2>Your Coach: <%=@coach%> </h2>
		<h2>Your Point Guard: <%=@pg%> </h2>
		<h2>Your Shooting Guard: <%=@sg%> </h2>
		<h2>Your Small Forward: <%=@sf%> </h2>
		<h2>Your Power Forward: <%=@pf%> </h2>
		<h2>Your Center: <%=@c%> </h2>

 </body>
</html>


